# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/

# Ignore data folder
data/raw/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore any other temporary or backup files
*.bak
*.swp

/notebooks/spike_gifs/
/notebooks/spike_plots/
/notebooks/Resnet50_CM_plots/
/notebooks/Resnet50_checkpoints/
/notebooks/SCNN_checkpoints/
/notebooks/test_image.jpeg